{%extends "main.html.twig"%}

{%block title "Профиль"%}

{%block main%}
<h1>Профиль</h1>
{%set u=app.user%}
<table>
	<tr>
		<td>Фамилия</td>
		<td>{{u.lastName ?? "-"}}</td>
	</tr>
	<tr>
		<td>Имя</td>
		<td>{{u.firstName ?? "-"}}</td>
	</tr>
	<tr>
		<td>Отчество</td>
		<td>{{u.fatherName ?? "-"}}</td>
	</tr>
	<tr>
		<td>Логин</td>
		<td>{{u.login ?: "-"?? "-"}}</td>
	</tr>
	{#
	<tr>
		<td>Электронная почта</td>
		<td>{{u.email ?? "-"}}</td>
	</tr>
	#}
	<tr>
		<td>Статус</td>
		<td>{{u.isTeacher ? "Учитель" : "Ученик"}}</td>
	</tr>
	{%if u.isTeacher%}
	<tr>
		<td>Количество учеников</td>
		<td>{{u.students.count}}</td>
	</tr>
	{%endif%}
	{%if u.hasTeacher %}
	<tr>
		<td>Выбранный учитель</td>
		<td>{{u.teacher ? u.teacher.fio : '-'}}</td>
	</tr>
	{%endif%}
</table>

<div>
	{% if is_granted('EDIT_ACCOUNT') %}
	<a href="{{path("account_edit")}}">Редактировать профиль</a>
	{% endif %}

	{% if is_granted('SHOW_STUDENTS') %}
	<a href="{{path("student_index")}}">Список учеников</a>
	{% endif %}

	{% if is_granted('SHOW_TEACHERS') %}
	<a href="{{path("teacher_index")}}">Выбрать учителя</a>
	{% endif %}
</div>
{%endblock%}