{% extends 'account/base.html.twig' %}

{% block title %}Оплатить сервис{% endblock %}

{%block main%}
<div class="">
<h1>Оплачено: {{user.remainedTime.roundDays}} дн.</h1>
<form method="post">
<h2>Оплатить (мес.)</h2>
<input type="number" class="form-control" name="months"  value="{{m ?: 1}}"><br>
<input type="submit" class="btn btn-success" value="Оплатить">
</form>

<ul class="list-group">
<li class="list-group-item">
Стоимость сервиса: 
<b>
<span class="p">{{price}}</span>
 руб/мес
</b>
</li>
<li class="list-group-item">
На счёте: 
<b>
<span class="h">{{user.money}}</span>
</b>
</li>
<li class="list-group-item">
Требуется: 
<b>
<span class="need-money">0</span> 
</b>
</li>
</ul>
<a href="{{path("account_recharge")}}">Пополнить счёт</a>
</div>
{%endblock%}

{%block javascripts%}
{{parent()}}
<script>
var nm=$(".need-money");
var inp=$("[type=number]");
var p=$(".p").html();
var h=$(".h").html();
var s=$("[type=submit]");

function valid() {
var v0=inp.val();
var v=Math.abs(v0);
var n=v*p;
if (v0 != v) inp.val(v);
nm.html(n);

var k=n <= h && v > 0;
$(inp).add(nm)
//.css("background", !k  ? "red" : "green")
.css("color", k ? "black" : "red");

var wc="btn-warning";
if (k) s.removeClass(wc);
else s.addClass(wc);
}

valid();
inp.keyup(valid);
</script>
{%endblock%}