{% macro index_table(title, students, userRepository) %}
<h1>{{title}}</h1>

<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Фамилия / Имя</th>
            <th>Логин</th>
            <th>Время последней попытки</th>
            <th>Дн. Завершенных попыток (Попыток/Дн)</th>
            <th>Дн. Решенных примеров (Примеров/Дн)</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for number, student in sortStudents(students) %}
        {%set student = student.setEntityRepository(userRepository)%}
        <tr>
            <td>{{number+1}}</td>
            <td>
                {{student.lastName}}
                {{student.firstName}}
            </td>
            <td>{{student.username}}</td>
            {%set attempt = student.attempts.last%}
            <td>{{attempt ? attempt.addTime : "-"}}</td>
            <td>
                {% set days = [1, 3, 7, 30] %}
                {% for day in days if student.attempts.count %}
                <div>
                    {{ day }}.
                    {% set doneAttemptsCount = userRepository.getDoneAttemptsCount(student, dt('createBySubDays', day)) %}
                    {{ doneAttemptsCount }}
                    ({{ (doneAttemptsCount / day)|round(1) }})
                </div>
                {% else %}
                -
                {% endfor %}
            </td>
            <td>
                {% for day in days if student.hasExamples %}
                <div>
                    {{ day }}.
                    {% set solvedExamplesCount = userRepository.GetSolvedExamplesCount(student, dt('createBySubDays',
                    day)) %}
                    {{ solvedExamplesCount }}
                    ({{ (solvedExamplesCount / day)|round(1) }})
                </div>
                {% else %}
                -
                {% endfor %}
            </td>
            <td>
                <a href="{{path("student_attempts", {"id": student.id})}}">Посмотреть список попыток</a>
                <a href="{{path("student_examples", {"id": student.id})}}">Посмотреть список примеров</a>

                {% if is_granted('EDIT_CHILD', student) %}
                <a href="{{path("child_edit", {"id": student.id })}}">Редактировать</a>
                {% endif %}

                {% if is_granted("LOGIN_AS_CHILD", student) %}
                <a href="{{path("child_login", {"id": student.id})}}" role="button" onclick="return confirm('Вы уверены, что хотите зарегистрироваться как {{ student.username }}?')">Войти
                    как ученик</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}