{% trans_default_domain 'FOSUserBundle' %}

<form class="auth-form" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
<h1>Сброс пароля</h1>
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" class="form-control" id="username" name="username" required="required" />
    </div>
    <div>
        <input type="submit" class="btn btn-danger" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>

<div class="auth-links">
<a href="{{path("fos_user_security_login")}}">Вход</a>
</div>