{% extends "@FOSUser/layout.html.twig" %}

{%block title "Аккаунт подтверждён"%}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<h1>Аккаунт подтверждён</h1>
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

<h2>Что дальше?</h2>
{{include("index/using_steps.html.twig")}}
{% endblock fos_user_content %}