{% macro tasks_table(title, tasks, attemptRepository) %}
<h2>{{ title }}</h2>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Задание</th>
            <th>Количество повторений</th>
            <th>Время добавления</th>
            <th>Время окончания</th>
            <th>Попытки (Выполненные / Начатые)</th>
            <th>Средняя оценка (Выполненные / Начатые)</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for number, task in sortByAddTime(tasks)|reverse %}
        <tr>
            <td>{{ number + 1 }}</td>
            <td><a href="{{ path('settings_show', {'id': task.settings.id}) }}">{{ task.settings.description }}</a></td>
            <td>{{ task.timesCount }}</td>
            <td>{{ task.addTime }}</td>
            <td>{{ task.limitTime }}</td>
            <td>{{ attemptRepository.findDoneByCurrentUserAndTask(task)|length }} / {{
                attemptRepository.countByCurrentUserAndTask(task) }}</td>
                {% set doneRating = attemptRepository.getDoneAverageRatingByCurrentUserAndTask(task) %}
                {% set rating = attemptRepository.getAverageRatingByCurrentUserAndTask(task) %}
            <td>{{ doneRating ? doneRating|round : '-' }} / {{ rating ? rating|round : '-' }}</td>
            <td>
                <a href="{{ path('homework_attempts', {'id': task.id}) }}">Посмотреть попытки</a>
                <a href="{{ path('homework_examples', {'id': task.id}) }}">Посмотреть список примеров</a>
                {% if is_granted('SOLVE', task) %}
                <a href="{{ path('homework_solve', {'id': task.id}) }}" role="button">Выполнить</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{%endmacro %}