<form method="post" action="{{ path('code_delete', {'id': code.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ code.id) }}">
    <button class="btn">Delete</button>
</form>