{% extends 'base.html.twig' %}

{% block title %}Edit Code{% endblock %}

{% block body %}
    <h1>Edit Code</h1>

    {{ include('code/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('code_index') }}">back to list</a>

    {{ include('code/_delete_form.html.twig') }}
{% endblock %}