{% extends 'base.html.twig' %}

{% block title %}Code{% endblock %}

{% block body %}
    <h1>Code</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ code.id }}</td>
            </tr>
            <tr>
                <th>String</th>
                <td>{{ code.string }}</td>
            </tr>
            <tr>
                <th>AddTime</th>
                <td>{{ code.addTime ? code.addTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ActivateTime</th>
                <td>{{ code.activateTime ? code.activateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Activated</th>
                <td>{{ code.activated ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('code_index') }}">back to list</a>

    <a href="{{ path('code_edit', {'id': code.id}) }}">edit</a>

    {{ include('code/_delete_form.html.twig') }}
{% endblock %}