{% extends 'main.html.twig' %}

{%set isGuest=not is_granted("IS_AUTHENTICATED_REMEMBERED")%}
{% block title %}
{{isGuest ? 
"3000+ примеров по математике" : 
"Главная страница"}}
{% endblock %}

{%block guest_auth ""%}

{%block main%}
<content>
<div class="">
{%if isGuest%}
              <h1>Добро пожаловать!</h1>
<h2>
{{app_name}}<br>
3000+ примеров по математике с автоматической проверкой, лимитом по времени и полной историей решения!<br>
Совершенно бесплатно!
</h2>
{%else%}
<h1>
Здравствуйте, {{(user.callName)}}!<br>
{{app_name}}<br>
 Сервис по улучшению навыков счёта
</h1>
{%endif%}

              <p>
<b>Наш сервис предоставляет:</b>
<ol>
<li>Неограниченное число примеров, попыток и профилей настроек.</li>
<li>Автоматическую проверку правильности решения.</li>
<li>Гибкие настройки попыток по сложности примеров, их количеству и времени решения.</li>
<li>Широкий набор профилей настроек по умолчанию, начиная со сложения в пределах 10 и заканчивая умножением пятизначных чисел в столбик.</li>
<li>Автоматическое выставление оценки.</li>
<li>Полную историю ваших попыток с исчерпывающей статистикой.</li>
</ol>

<div>
<b>
<a href="{{path("attempt_new")}}">Попробуйте сейчас!</a>
Совершенно Бесплатно и без регистрации!
</b>
</div>
</p>

<h2>Кому будет полезен наш сервис?</h2>
<p>
Детям с 6 до 12 лет. У нас ваш ребёнок сможет:
<ol>
<li>Отработать навыки сложения, вычитания  в пределах 10.</li>
<li>Научиться с уверенностью решать примеры с переходом через десятки.</li>
<li>Выучить таблицу умножения и деления.</li>
<li>Довести до автоматизма счёт в пределах 100 и больше.</li>
<li>Научиться складывать, вычитать столбиком в пределах 10 000 и больше.</li>
<li>Отработать умножение деление столбиком без ограничения по размеру чисел.</li>
</ol>

<b>Проверено на практике!</b>
<p>
<b>
И помните! Хорошие навыки счёта - необходимое условие успеваемости по математике, алгебре, геометрии, физике, химии и многим другим предметам в школе и после неё!
</b>
</p>
</p>

<h2>Как пользоваться сервисом?</h2>
{{include("index/using_steps.html.twig")}}
            </div>

{%if isGuest%}
{{include("widget/auth.html.twig")}}
{%endif%}

<div class="">
<h2>Расскажите о нас!</h2>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,viber,whatsapp,skype"></div>
</div>

</content>
{%endblock%}