{% macro contractors_table(title,task, contractors, attemptRepository) %}
<h2>{{ title }}</h2>

<table class="table contractors">
    <thead>
        <th>№</th>
        <th>Ученик</th>
        <th>Время последней попытки</th>
        <th>Попытки (Выполненные / Начатые)</th>
        <th>Средняя оценка (Выполненные / Начатые)</th>
        <th>Действия</th>
    </thead>
    <tbody>
        {% for number, contractor in sortContractors(contractors) %}
        <tr>
            <td>{{ number+1 }}</td>
            <td>{{ contractor.lastName }} {{ contractor.firstName }}</td>
            <td>{{ attemptRepository.findLastOneByTaskAndUser(task, contractor)|property('addTime') }}</td>
            <td>{{attemptRepository.findDoneByUserAndTask(contractor, task)|length }} / {{
                attemptRepository.countByUserAndTask(contractor, task) }}</td>
            <td>{{ attemptRepository.getDoneAverageRatingByUserAndTask(contractor, task) ?? '-'}} / {{
                attemptRepository.getAverageRatingByUserAndTask(contractor, task) ?? '-'}}</td>
            <td>
                <a href="{{ path('task_contractor_attempts', {'id': task.id, 'contractor_id': contractor.id}) }}">Просмотреть
                    попытки</a>
                <a href="{{ path('task_contractor_examples', {'id': task.id, 'contractor_id': contractor.id}) }}">Просмотреть
                    примеры</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}