{% extends 'profile/edit.html.twig' %}

{% block title %}{{ settings.description }}{% endblock %}
{% set profile = settings %}

{% block main_heading %}Профиль настроек{% endblock %}
{%block advanced_parameters%}{% endblock %}
{% block bottom_links %}{% endblock %}