{% extends 'main.html.twig' %}

{% block title %}
    Архив попыток
{% endblock %}

{% block main %}
    <div class="row">
        <h1>Архив попыток</h1>
        {{ include("attempt/index_table.html.twig") }}
    </div>
{% endblock %}

{%block javascripts%}
    {{parent()}}
    <script src="/js/jquery.datatables.min.js"></script>
    <script>
        $("table").DataTable({
            ordering: false,
            searching: false,
            data: {{ processAttempts(attempts)|reverse|json_encode|raw }},
            deferRender: true,
            pageLength: 50,
            language: {{ include("attempt/language.json.twig") }}
        });
    </script>
{% endblock %}