{%extends "profile/edit.html.twig"%}

{%set h="Настройки попытки №"~att.number%}
{%block title h%}
{%block main_heading h%}

{%block back_link%}
<a href="{{path("attempt_show", {"id": att.id})}}">Назад к попытке №{{att.number}}</a>
{%endblock%}

{%block advanced_parameters ""%}
{%block save_button ""%}
{%block delete_button ""%}