{%extends 'main.html.twig'%}

{%block title att.title%}

{%block main%}
<div class="attempt-show">
	{% set attempt = att %}
	{% set task = attempt.task %}
	{% if task and is_granted('SOLVE', task) %}
<h1><a href="{{ path('homework_index') }}">Задание</a></h1>
<ul>
	<li><a href="{{ path('settings_show', {'id': task.settings.id}) }}">{{ task.settings.description }}</a></li>
	<li>Выполнено {{ attemptRepository.countDoneByCurrentUserAndTask(task) }} из {{ task.timesCount }} попыток.</li>
	<li><a href="{{ path('homework_solve', {'id': task.id}) }}" role="button">Продолжить решение задания</a></li>
</ul>
{% endif %}
	<div class="attempt-show-statistic">
<h1>Статистика</h1>

<ul class="list-group">
	<li>Начало попытки: {{att.addTime}}</li>
	<li>Конец попытки: {{att.finishTime}}</li>
<li>Затраченное время: {{att.solvedTime.minSecFormat}} из {{att.maxTime.minSecFormat}}</li>
	<li>Решено примеров: {{att.solvedExamplesCount}} из {{att.examplesCount}}</li>
<li>Секунд/пример: {{att.averSolveTime.timestamp}}</li>
<li>Ошибок: {{att.errorsCount}}</li>
	<li>Оценка: {{att.rating}}</li>
	<li>Настройки попытки: <a href="{{path("attempt_profile", {"id": att.id})}}">{{ att.settings.description }}</a></li>
</ul>
</div>

<div class="row attempt-show-extbl">
<h1>Примеры</h1>

<table class="table table-striped table-bordered">
	<thead class="thead-light">
		<th>№</th>
		<th>Пример</th>
		<th>Ответ</th>
<th>Время (сек)</th>
	</thead>
<tbody>
	{%for ex in examples|reverse%}
{%set ex=ex.setER(exR)%}
{%if not ex.isRight%}
<tr>
<td colspan="4">
<h6 class="error">{{(ex.answer is not null) ? "Ошибка №"~ex.errorNum : "Пример не решен"}}</h6>
</td>
</tr>
{%endif%}
	<tr class="{{not ex.isRight ? "error" : ""}}">
		<td>{{ex.number}}</td>
		<td>{{ex}}</td>
		<td>{{ex.answer ?? '-'}}</td>
<td>{{ex.solvingTime ? (ex.solvingTime.timestamp ?: "-") : '-'}}</td>
	</tr>
{%else%}
<tr>
<td colspan="4">Нет Примеров в попытке</td>
</tr>
	{%endfor%}
</tbody>
</table>
</div>
</div>
{%endblock%}