{%set h=h ?? "h2"%}
{%set title=title ?? "Мгновенный вход и регистрация при помощи социальных сетей"%}
<{{h}}>{{title}}</{{h}}>

<p>
    <b>
    В один клик. Без логина, пароля и подтверждения адреса электронной почты.
</b>
</p>

<script src="//ulogin.ru/js/ulogin.js"></script>
<div id="uLogin" data-ulogin="display=small;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,facebook,twitter,instagram,mailru,yandex,google,webmoney;hidden=livejournal,openid,lastfm,linkedin,liveid,soundcloud,steam,flickr,uid,youtube,foursquare,tumblr,googleplus,vimeo,wargaming;redirect_uri={{url("api_ulogin_register")|url_encode}};mobilebuttons=0;"></div>